.card{
    
    transition: 0.3s;
    border-radius: 10px;
    height: 400px;
    width: 48%;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: auto;
    background-color: white;
}

.card-two{
    
    transition: 0.3s;
    border-radius: 10px;
    height: 400px;
    width: 48%;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    overflow: auto;
    background-color: white;
}

.courses{
   
    transition: 0.3s;
    border-radius: 10px;
    height: 400px;
    width: 48%;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    overflow: auto;
    background-color: white;
}

.card-trainer{
    
    transition: 0.3s;
    border-radius: 10px;
    height: 400px;
    width: 48%;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    background-color: white;
    
}

.card:hover, .card-two:hover, .courses:hover, .card-trainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
  }

#title-user{
    text-align: center;
    color: white;
    font-size:35px;
    margin: 0;
}

h2,h3{
    text-align: center;
}

html { 
    background: url(/images/peaceful-blur-4k.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.LogOut{
    text-align: right;
}

