table{
    border-spacing: 30px;
    margin: auto; 
    text-align: center;
    width: fit-content;
    vertical-align: text-top;
    
}
.headt-title{
    font-size: 25px;
}
label{
    font-size: 20px;
}

.columns{
    width: 130px;
    
    
}



.targets{
    overflow-x: auto;
    overflow-y: auto;
    width: auto;
    min-height: 300px;
    height: fit-content;
    }

