table{
    border-spacing: 30px;
    margin: auto; 
    text-align: center;
    width: fit-content;
    vertical-align: text-top;
    
}
.headt-title{
    font-size: 25px;
}
label{
    font-size: 20px;
}

.columns{
    width: 130px;
    
    
}

.zielAdd,.underzielAdd{
    margin: 0 10px 0 10px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#020202;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;

}

.targets{
    overflow-x: auto;
    overflow-y: auto;
    width: auto;
    min-height: 300px;
    height: fit-content;
    }

