table{
    border-spacing: 30px;
    margin: auto; 
    text-align: center;
    min-width: 500px;
    width: fit-content;
    vertical-align: text-top;
    border: 1px solid #555555;
    border-radius: 6px;;
}

tr.markiert {
    background-color: lime;
  }